@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#content-box {
  font-family: 'Roboto';
  margin-top: 130px;
  margin-left: 365px;
  margin-right: 365px;
  margin-bottom: 148px;
}

#content-box .horizontal {
  text-align: left;
  margin-bottom: 40px;
}

.column {
  vertical-align: top;
  width: 50%;
  display: table-cell;
}

.main-image {
  display: block;
  margin: auto;
  width: 710px;
  height: 474px;
}

.sub-images {
  display: grid;
  column-gap: 18px;
  display: table;
}

.sub-image-container {
  float: left;
  margin-right: 18px;
}

.sub-image {
  width: 57px;
  height: 41px;
  border-radius: 5px;
}

.sub-image:active,
.sub-image.active {
  border: 2px solid #C32848;
}

.heading2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.sub-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.heading3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.options-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.agent-contact-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
}

.select-img {
  text-align: center;
}

.select-img {
  width: 27px;
}

.option-img {
  width: 20px;
}

.social-img {
  width: 13px;
}

.agent {
  width: 230px;
  height: 100px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.top-agent {
  width: 230px;
  height: 18px;
  background-color: #C32848;
  border-radius: 5px 5px 0px 0px;
}

.agent-image {
  float: left;
  width: 70px;
}

.agent-details {
  float: right;
}

.share-listing {
  padding-left: 25px;
  width: 180px;
  height: 15px;
}

.button,
.button-secondary {
  width: 115px;
  height: 34px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: inline flex;
  align-items: center;
  padding: 10px 24px;
  border: solid;
  border-radius: 10px;
  cursor: pointer;
  background-color: #76D449;
  border-color: #76D449;
  color: white;
}

.button-secondary {
  background-color: white;
  color: #C32848;
  border-color: #C32848;
}

.return-search {
  width: 140px;
  height: 56px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 56px;
  /* identical to box height, or 400% */
  text-align: center;
  float: right;
  background-color: transparent;
  border: none;
}

.return-img {
  width: 24px;
  height: 24px;
}